body{
  justify-content: center;

}

.header{
  display: flex;
  justify-content: flex-end;
}
.UpperFrame {
position: absolute;
background: linear-gradient(180deg, rgba(92, 155, 230, 0.75) 15.63%, rgba(92, 155, 230, 0.42) 54.69%, rgba(92, 155, 230, 0) 98.44%);
height: 205px;
width: 100%;
}

.footer{
  display: flex;
  justify-content: flex-start;
}
.botframe{
  position: absolute;
  background: linear-gradient(180deg, rgba(92, 155, 230, 0.75) 15.63%, rgba(92, 155, 230, 0.42) 54.69%, rgba(92, 155, 230, 0) 98.44%);
  height: 205px;
  width: 100%;
  top: 5800;
}

.email{
  position: absolute;
  top: 5640;
  left: 40px;
}
.instagram{
  position: absolute;
  top: 5745;
  left: 40;
}
.WA {
  position: absolute;
  top: 5850;
  left: 40px;
}

.email, .nam{
  display: inline-block;
}
.instagram, .nai{
  display: inline-block;
}
.WA, .now {
  display: inline-block;
}

.nam, .nai, .now{
  position: relative;
  bottom: 45px;
}

*{
  margin: 0;
  padding: 0;
}

.profile{
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-content{
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 250px;
}
.Profile-home, .Project-home, .Skill-home, .Contact-home{
  position: absolute;
  top: 38px;
    display: inline-block;
    margin-right: 65px;
    position: relative;
    color: #2E62E7;
    font-size: 32px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
}

.face {
    position: relative;
    right: 220px;
    z-index: 1;
    top : 185px;
    height: auto; 
    width: auto;
  }
  
.facebg {
    position: relative;
    z-index: 0;
    left: -717px;
    top : 185px;
    height: 471px;width: 471px;
  }

.Ellipse{
  justify-content: left;
  position: relative;
  left: 190px;
  bottom: 211px;
  opacity: 65%;
  width: 900px;height: 380px
}


.face, .facebg{
  display: inline-block;
}
  .name {
    text-decoration: underline;
    text-decoration-color: #2E62E7;
    font-size: 33px;
  }
  
  .university {
    font-weight: bold;
    font-size: 33px;
  }


.AboutMe1{
    position: absolute;
    top: 270px;
    right: 100px;
    font-size: 30px;
    background: linear-gradient(180deg, #2E62E7 97.87%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    width: 800px; height: 600px;
  }

  .Ellipse{
    position: absolute;
    top : 251px;
    left: 410px;
  }

 
  .github, .linkedin{
    justify-content: center;
    display: inline-block;
    position: relative;
    top: 680px;
    right:1100px;
    margin-right: 111px;
    color: white;
    z-index: 5;
    width:85px ;height:85px;
  }

/* ======================================================================================= */
.skills{
    position: relative;
    display: flex;
    justify-content: center;
    top: 676px;
    z-index: 2;
}

  .ts, .ss{
    display: inline-block;
    position: relative;
    font-size: 45px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
  }
  .ts{
    bottom : 478px;
  }
  .ss{
    right: 10px;
  }



.TS1, .TS2{
  display: inline-block;
  position: relative;
  top: 95px;
  right: 386px;
  justify-content: center;
}
.TS2{
  display: inline-block;
  position: relative;
  right: 346px;
  justify-content: center;
}
  .skillC, .a{
    display: inline-block;
    position: relative;
  
  }
  .skillJava, .b{
    position: relative;
    display: inline-block;

 
  }
  .skillPython, .c{
    position: relative;
    display: inline-block;

  }

  .skillMySQL, .d{
    position: relative;
    display: inline-block;

  }

  .a{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .b{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .c{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .d{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.skillHTML, .e{
  display: inline-block;
  position: relative;
  }
  .skillphp, .f{
    display: inline-block;
    position: relative;
  }
  .skillCs, .g{
    display: inline-block;
    position: relative;
  }
  .skillDocker, .h{
    display: inline-block;
    position: relative;
  }

  .e{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .f{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .g{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .h{
    bottom: 50px;
    font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.ssa{
  position: relative;
  right: 143px;
  bottom: 3px;
  font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ssb{
  position: relative;
  left: 69px;
  bottom: 300px;
  font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ssc{
  position: relative;
  right: 30px;
  top: 75px;
  font-size: 35px;
    background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ellipse2{
  position: absolute;
  top: 10px;
  right: -500px;
  z-index: 0;
  opacity: 45%;
}
.crtv, .PS, .TW{
  position: relative;
}
.crtv{
  position: relative;
  right: 200px;
}

.ss1, .ss2, .ss3{ 
  position: relative;
  width: 260;
}

.PS{
  bottom: 275px;
  left: 75px;;
}

.TW{
  top: 110px;
  right: 75px;
}


.ss3 {
  bottom: 400px ;
}

.line {
  display: flex;
  position: relative;
  top: 450px;
  justify-content: center;
}

.projects{
  position: relative;
  display: flex;
  justify-content: center;
}

.project-content{
  position: relative;
  display: flex;
  justify-content: center;
  right: 930px;
  bottom: 76px;
}


.project-journey{
  justify-content: center;
  font-size: 65px;
  background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 575px;
  right: -195px;
}

.project-journey1{
  justify-content: center;
  font-size: 35px;
  background: linear-gradient(180deg, #2E62E7 34.9%, #2E62E7 65.1%, rgba(61, 111, 239, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 655px;
  left: -85px;
}

.project-step{
  position: relative;
  display: flex;
  justify-content: center;
}
.step{
  position: absolute;
  top: 725px;
  justify-content: center;
}

.p1,.p2,.p3{
  height: 500px; width: 500px;
}

.p4{
  width: 723px; height: 302px;
}
.p5{
  width: 565px; height: 548px;
}
.p6{
  width: 565px; height: 534px;
}

.p1{
  position: absolute;
  top: 957px;
  left: 306px;
  z-index: 4;
}

.p2{
  position: absolute;
  top: 1332px;
  left: 1130;
  z-index: 2;
}

.p3{
  position: absolute;
  top: 1700px;
  left: 1020px;
  z-index: 3;
}

.p4{
  position: absolute;
  top: 2207px;
  left: 320px;
  z-index: 3;
}

.p5{
  position: absolute;
  top: 2440px;
  left: 190px;
  z-index: 2;
}

.p6{
  position: absolute;
  top: 2918px;
  left: 1048px;
  z-index: 2;
}

.crtv,.PS,.TW{
  width:260px ;
  height:260px ;
}
